
@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  
  
  #movies img, #movie img{
    width:100%;
  }
  
  @media(min-width:960px){
    #movies .col-md-3 .well{
      height: 390px;
    }
  
    #movies .col-md-3 img{
      height:240px;
    }
  }
  
  
  .Footer {
    list-style-type: none;
    width: 100%;
    overflow: hidden;
    text-align: center;
    align-items: center;
    z-index: 500;
    background: #bafffc;
    background: -webkit-linear-gradient(to right, #bafffc, #f1f1f1);
    background: linear-gradient(to right, #bafffc, #f1f1f1);
    display: inline-flex;
    grid-template-columns: 10% 30% 50% 10%;
  }
  
  .Footer .footer-2 {
    text-align: center;
    align-items: center;
  }
  /* @media (max-width: 40em) {
    #myImage {
    visibility:hidden;
    }
  .footer-2 div{
      margin-top: -300px;
    }
    } */
    
  @media(min-width:960px){
  .Footer div {
    text-align: center;
    display: grid;
  }
  .Footer .footer-1 img {
    margin-left: 100px;
      margin-right: auto;
      transform:          rotate(90deg);
      -ms-transform:      rotate(90deg);
      -moz-transform:     rotate(90deg);
      -webkit-transform:  rotate(90deg);
      -o-transform:       rotate(90deg);
   }
    .footer-2 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  }
  
  
  .Footer img {
    padding: 15px 0px;
    width: 100%
  }
  
  .Footer a {
    text-decoration: none;
    color: black;
    line-height: 10px;
    font-size: 18px;
  }
  
  .Footer h3 {
    font-size: 30px;
    line-height: 10px;
  }
  
  
  .HeaderBackground{
    background-image: url("https://media.giphy.com/media/a3IGFA4BKrE40/giphy.gif");
  }
  
  .NoPadding{
       padding-top: 0px; 
       padding-bottom: 0px;
       background: #EEEEEE;
       width: 100%;
  }
  
  
  .About {
    background-image: url('../Images/3.gif');
    background-repeat: no-repeat;
    background-size: 1200px;
    background-position: bottom;
  }

  .About h3{
  color: aqua;
  }

  .blink {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
  }
  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }

#notfoundimg{
  height: '400px';
   width: '400px';
   margin: 0 auto;
}

#btnHome , #btnMovieDetails{
  padding: 4px;
}


.intrinsic-container {
  position: relative;
  height: 0;
  overflow: hidden;
}
 
/* 16x9 Aspect Ratio */
.intrinsic-container-16x9 {
  padding-bottom: 56.25%;
}
 
/* 4x3 Aspect Ratio */
.intrinsic-container-4x3 {
  padding-bottom: 75%;
}
 
.intrinsic-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

#notfoundimg .center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
  


#btn-imdb:hover {
  background-color: #ffffff!important;
  border-color: #F27F33!important;
  color: #F27F33!important;
  font-size: 150%;
 }

 #btn-search:hover {
  background-color: #ffffff!important;
  border-color: #021860!important;
  color: #021860!important;
  font-size: 150%;
 }

 #btn-trailer:hover {
  background-color: #ffffff!important;
  border-color: #479C48!important;
  color: #479C48!important;
  font-size: 150%;
 }
